html,p,img,body,head,nav,aside,main,div,img{
	margin:0px;
	padding:0px;
}

body{
	background-image:url("../Images/background.jpg");
	background-size:cover;
	background-attachment: fixed;
	font-family:Verdana,Ariel;
}

#reg2{
	left:60%;
	top:300px;
	position:absolute;
}

main{
	background-color:rgba(0,0,0,.4);	
	color:#f2f2f2;
	width:73%;
	height:3300px;
	left:23%;
	position:absolute;
}


div{
	margin-left:30px;
	
}

img{
	left:30%;
	position:absolute;
}

/*Не се сърдете за дължината на кода,вие само четете, а аз писах.*/

#cowboy{
	top:600px;
}

#cowboytxt{
	top:500px;
	position:absolute;
}

#pharah{
	top:1050px;
}

#pharahtxt{
	top:950px;
	position:absolute;
}

#reaper{
	top:1500px;
}

#reapertxt{
	top:1400px;
	position:absolute;
}

#soldier{
	top:1950px;
}

#soldiertxt{
	top:1850px;
	position:absolute;
}

#sombra{
	top:2450px;
}

#sombratxt{
	top:2350px;
	position:absolute;
}

#tracer{
	top:2900px;
}

#tracertxt{
	top:2800px;
	position:absolute;
}


a{
	text-decoration:none;
	color:#f2f2f2;
}


aside{
	background-color:#404040;
	width:20%;
	height:3300px;
	left:3%;
	position:absolute;
	color:#f2f2f2;
	
	
}

h1,h2{
	margin-left:10px;
}