html,p,img,body,head,nav,aside,main,div,img{
	margin:0px;
	padding:0px;
}

body{
	background-image:url("../Images/background.jpg");
	background-size:cover;
	background-attachment: fixed;
	font-family:Verdana,Ariel;
}

#reg2{
	left:60%;
	top:300px;
	position:absolute;
}

main{
	background-color:rgba(0,0,0,.4);	
	color:#f2f2f2;
	width:73%;
	height:2600px;
	left:23%;
	position:absolute;
}


div{
	margin-left:30px;
	
}

img{
	left:30%;
	position:absolute;
}

/*Не се сърдете за дължината на кода,вие само четете, а аз писах.*/


#Reinahrdt{
	top:800px;
	
}

#Reinhardttxt{
	top:800px;
	position:absolute;
}

#Roadhog{
	top:1250px;
}

#Roadhogtxt{
	top:1150px;
	position:absolute;
}

#Winston{
	top:1700px;
}

#Winstontxt{
	top:1600px;
	position:absolute;
}

#Zarya{
	top:2150px;
}

#Zaryatxt{
	top:2050px;
	position:absolute;
}


a{
	text-decoration:none;
	color:#f2f2f2;
}


aside{
	background-color:#404040;
	width:20%;
	height:2600px;
	left:3%;
	position:absolute;
	color:#f2f2f2;
	
	
}

h1,h2{
	margin-left:10px;
}